.sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    padding: 32px;

    &PlaceList {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        max-width: 200px;
        margin-top: 20px;

        &Item {
            background: #bfbbbb;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            padding: 0 16px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            border-radius: 3px;
        }
    }
}