.address {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.horizontalLine {
    position: relative;
    width: 100%;
    height: 1px;
    background: #a6a6a6;
    margin: 16px 0;
    border-radius: 2px;
}

.balloon {
    z-index: 0;
    width: 60px;
    aspect-ratio: 120 / 145;
    background: #fff;
    color: #eee;
    opacity: 0.25;
    border-radius: 80%;
    box-shadow: inset -10px -10px 0 rgba($color: #000000, $alpha: 0.07);
    position: absolute;
    top: 0;
    left: 0;
    
    &:nth-child(1) {
        width: 45px;
        background: #e00;
        color: #a00;
        top: 0;
        left: -50px;
        transform: rotate(-31deg);
    }
    &:nth-child(2) {
        background: #0e0;
        color: #0a0;
        top: 93px;
        left: auto;
        right: -23px;
        transform: rotate(34deg);
    }
    &:nth-child(3) {
        width: 70px;
        background: #00e;
        color: #00a;
        top: auto;
        bottom: 6px;
        left: auto;
        right: 70%;
        transform: rotate(12deg);
    }

    &::after {
        content: "▲";
        font-size: 20px;
        color: inherit;
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: -12px;
        z-index: -100;
    }

    &Wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.popup {    
    &Content {
        position: relative;
    }

    &Title {
        font-size: 18px;
        text-align: center;
        position: relative;
    }

    &Subtitle {
        position: relative;
        font-size: 14px;
        text-align: center;
        font-style: italic;
        margin: 0 0 12px !important;
    }
}

.weatherContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.temperature {
    font-size: 18px;
    font-weight: 500;
    margin: 0 !important;

    &Container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.holiday,
.condition {
    position: relative;
    margin: 0 !important;
    font-size: 14px;
    text-align: center;

    &Icon {
        width: 48px;
        height: 48px;
    }
}