.stopItem {
	padding: 6px 10px;
	background: #cbc5bc;
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto auto;
	gap: 8px;
	position: relative;
	cursor: pointer;
}

.button {
	display: flex;
	position: relative;
}

.menu {
	width: 100px;
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	background: #e6e5e5;
	flex-direction: column;

	&.opened {
		display: flex;
	}

	&Button {
		padding: 8px;
		width: 100%;
		display: flex;
		color: #000;
		font-size: 14px;
		&:hover {
			background: #cccccc;
		}
	}
}

.dragButton {
	color: #000;
	cursor: grab;
}
