.stopInfoPanel {
    width: 100%;
    position: absolute;
    background: #eee;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    animation: slideFadeOut 0.4s ease-out forwards;
    padding: 16px 20px;

    &.active {
        animation: slideFadeIn 0.4s ease-out forwards;
    }
    
    .title {
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        margin-bottom: 8px;
    }
}


@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}