@import 'tailwindcss';

body {
	font-family: 'Helvetica Neue', system-ui, Avenir, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;

	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;

	overflow-x: hidden;
}

/** Leaflet style settings */
.leaflet-control-container .leaflet-routing-container-hide {
	display: none;
}

.leaflet-popup-content-wrapper {
	overflow: hidden;
}
