.home {
    grid-area: outlet;
    height: 100%;
    width: 100%;
    padding: 32px;
    z-index: 1;
    position: relative;
}

.stop {
    &List {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 20px;
    }
}

.button {
    width: 100%;
    padding: 8px 16px;
    background: #0e823e;
    color: #fff;
}